.idea/
*.iws
*.iml
*.xml
__pycache__/
*.pyc
/.venv/
.env/
/Thumbs.db
build/
dist/
*.egg-info
*.pyc
*.xml
*.iml
**/chromedriver.exe
*.DS_Store
*.lock
*.toml
Python/PycharmProjects/Password Manager GUI/password-manager-gui-mt/data.json
debug/
*.exe
*.obj
*.pdb
*.vsidx
*.vcxproj
v18/
.vs/
*.user
*.filters
*.slnx
*.ilk
.vscode/
Python/PycharmProjects/snake-game-high-score/data.txt
Python/PycharmProjects/snake-game-high-score/data.txt
