/* CSS Notes */

/* CSS Selector Types */


/* 1. Selects all elements */

* {
  margin: 0;
}


/* 2. Element Selector */

p { color: red; }
div { padding: 10px; }

/* select only <p> elements with class="center" will be red and center-aligned:  */
p.center {
  text-align: center;
  color: red;
}

/* 3. Class Selector */

.box { border: 1px solid black; }


/* 4. ID Selector */

#header { background: blue; }

/* 5. Attribute Selectors */

    /* 1) Has attribute */
        input[required]

    /* 2) Exact value */
        input[type="text"]

    /* 3) Contains word */
        div[class~="box"]
    
    /* 4) Starts with */
        a[href^="https"]
    
    /* 5) Ends with */
        img[src$=".png"]
    
    /* 6) Contains substring */
        a[href*="google"]


/* 6. Grouping Selector */
    /* Apply same style to multiple selectors */

h1, h2, h3 {
  font-family: Arial;
}


/* 7 Descendant Selector */
    /* Selects any child at any level */

div p {
  color: green;
}


/* 8. Child Selector */
    /* Selects direct children only */

ul > li {
  list-style: none;
}

/* 9. Adjacent Sibling Selector */
    /* Selects the immediately next sibling */

h1 + p {
  margin-top: 0;
}

/* 10. General Sibling Selector */ 
    /* Selects all following siblings */

h1 ~ p {
  color: gray;
}

/* 11. Pseudo-classes */
    /* Select elements based on state or position */


    /* Common ones: */
        :hover
        :active
        :focus
        :visited
        :checked
        :disabled
        :enabled

    /* Structural: */
        :first-child
        :last-child
        :nth-child(2)
        :nth-child(even)
        :nth-of-type(3)
        :only-child

    /* Logic: */
        :not(.active)


/* 12. Pseudo-elements */
     /* Select parts of elements */
        ::before
        ::after
        ::first-letter
        ::first-line
        ::selection
    
/* e.x     */

p::first-letter {
font-size: 2em;
}


 /* 13. Combinators (Summary) */

 /*
 Symbol   |   Meaning
------------------------
 "space"  |   Descendant
  >       |   Child
  +       |   Adjacent sibling
  ~       |   General sibling
*/

/* 14. Compound Selectors */
    /* Multiple selectors combined */

div.box#main[data-type="card"]


/* 15. :is(), :where(), :has() (Modern CSS) */

     /* :is() */
        :is(h1, h2, h3) {
          color: red;
        }

     /* :where() (no specificity) */
        :where(section, article) {
        margin: 20px;
        }

     /* :has() (parent selector!) */
        div:has(img) {
        border: 2px solid red;
        }


 /* 16. Namespace Selectors (Rare) */
     /* Used mainly in SVG/XML */

svg|circle {                /* selects <circle> elements inside the SVG namespace <svg> */
      fill: red;
      stroke: black;
      stroke-width: 3;
    }

/* ----------------------------------------------------------------------------------------------------- */
/* Digital Clock Program */

body{
    background-image: url(background1.webp);
    background-size: cover;                     /* makes the image cover the entire body/container */
    background-repeat: no-repeat;               /* makes the image not repeat if it was too small (not needed here) */
    background-attachment: fixed;               /* this makes the background position fixed when scrolling down */
    margin: 0;   
}

#clock-container{
    display: flex;                      /* use flexbox: (Flexible Box Layout) is a 1D CSS layout model designed for arranging items in rows or columns, making it easy to align, space, and resize elements within a container. It automatically distributes space, allowing items to grow or shrink to fit different screen, mainly, phones use column, and computers use rows */
    justify-content: center;            /* makes the content in the center horizontally */
    align-items: center;                /* alight itmes vertically */
    height: 100vh;                      /* increasing the height of the container by 100 viewports */
    border: 2px solid;                  /* adding a border stroke to the container so that we can see the border of the container*/
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(16, 17, 90);
    backdrop-filter: blur(75px);                /* adding a blur background to the clock*/
    background-color: hsl(0, 100%, 0.1);      /* adding fogginess to the width (not noticable for my image) */
    width: 100%;                                /* increasing the width of the clock div*/
}


/* ----------------------------------------------------------------------------------------------------- */

/* Stopwatch Program */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(180, 0%, 90%);
}

#myH1{
    font-size: 4rem;
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 25%);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;                /* rounding the corners */
    background-color: white;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0.75);           /* 2 verical offset, 2 horizontal offset, 2 blur, shadow color */
    margin-bottom: 25px;                                   /* adding some margin space below the div element */
}

#controls button{                           /* select all the button elements inside controls div, to select only 1 button, do #controls #buttonId instead */
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125;
    border: none;
    border-radius: 15px;                    /* will make the corners rounded */
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;     /* transitioning between hover color and normal color now will take 0.5 seconds transition animation; */
}

#startBtn{
    background-color: green;
}

#startBtn:hover{            /* hover pseudo-class */
    background-color: rgb(0, 97, 0);
}

#stopBtn{
    background-color: red;
}

#stopBtn:hover{
    background-color: rgb(163, 0, 0);
}

#resetBtn{
    background-color: rgb(0, 119, 255);
}

#resetBtn:hover{
    background-color: rgb(0, 87, 185);
}


/* ----------------------------------------------------------------------------------------------------- */

/* Calculator Program */

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500;         /* maximum width of the calculator div */
    overflow: hidden;       /* if any elements overflow, hide them*/
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);       /* repeat() is a built-in css function, 4 here is 4 columns, to arrange the buttons evenly we used 1fr which stands for fractional unit, 1fr indicates that each column should take up an even ammount of space */
    gap: 10px;                                  /* gap between the rows */
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{              /* when clicking the button*/
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}


/* ----------------------------------------------------------------------------------------------------- */


/* Add and Change HTML */

.box{
    border: 3px solid;
    width: 100%;
    height: 125px;
}


/* ----------------------------------------------------------------------------------------------------- */


/* Mouse Events */

#myBox{
    background-color: lightgreen;
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}

#myButton{
    font-size: 3rem;
}